body{
          background-image: url("../img/beach.jpg");
          background-size: cover;
          opacity: inherit;
          font-family: 'Century Gothic';
          font-size: 30px;
          font-weight:bold;
          color:rgb(35, 50, 105);
}
.text{
          margin:300px;
}
.back{
          border:2px solid red;
          border-radius: 75px;
          text-align: center;
          text-decoration: none;
          margin-left:550px;
          margin-top: 20px;
          width:230px;
          height:40px;
          background-color: red;
          color:white;
}
.back:hover{
          background-color: azure;
          transition: 3s;
          color:red;
}
a{
          color:white;
          text-decoration:none;
          font-weight:700px;
}